.wraper-box {
	width: 400px;
	height: 400px;
	background-color: red;
	position: relative;
}
.child-box {
	width: 150px;
	height: 150px;
	background-color: yellow;
	position: absolute;
	top: 100px;
	right: 50px;
	z-index: 2;
}
.child-box2 {
	width: 150px;
	height: 150px;
	background-color: blue;
	position: absolute;
	top: 150px;
	left: 120px;
	z-index: 3;
}
.image {
	width: 1200px;
}
.hello {
	position: absolute;
	top: 50px;
	right: 150px;
}
.image-block {
	position: relative;
	/*width: 800px;*/
	display: inline-block;
}

/*chat image*/
.chat-image {
	height: 80px;
	position: fixed;
	right: 30px;
	bottom: 30px;
}